[package]
name = "adder"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#添加对add-one的依赖
add-one = { path = "../add-one" }
rand = "0.8.2"